# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / OS files
.idea/
.vscode/
*.DS_Store

# Anaconda environment files (optional)
# seoenv/

# Bild-Ordner (werden in der Cloud-Version nicht per Git verwaltet)
pics_to_process/
pics_done/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Google Cloud SDK files (should not be tracked)
google-cloud-sdk/
*.tar.gz
anthoscli

# Cloud Function files (not tracked in GitHub)
translation_runner.py
translation_runner_requirements.txt
translation_analyzer.py
translation_analyzer_requirements.txt