# requirements.txt
streamlit>=1.42.0
pandas==2.1.4
pyarrow==14.0.1
google-generativeai
elevenlabs
python-docx
PyMuPDF==1.23.8
Authlib
streamlit-option-menu
requests
google-cloud-logging
google-cloud-secret-manager